#block1{
    background-image: url("R-1467-1355760192-3619.jpg");
    background-size: cover;
    place-content: end left;
}
#block1 p{
    background-color: black;
    color: rgb(255, 255, 255);
    margin: 10px;
    padding: 10px;
    font-size: 40pt;
    font-weight: bold;
}
.dragdrop {
    background-color: rgb(255, 213, 0);
    width: 100%;
    margin: 3%;
    padding: 10px;
    place-content: center;
    border: 3px dotted #000000;
}
.dragdrop p{
    color: rgb(0,0,0);
    margin: 10%;
    padding: 10px;
    text-align: center;
    font-size: 18pt;
}