#block1{
    background-image: url("banner.png");
    background-size: cover;
    place-content: end left;
}
#block1 p{
    background-color: black;
    color: rgb(255, 255, 255);
    margin: 10px;
    padding: 10px;
    font-size: 40pt;
    font-weight: bold;
}
#block2 {
    background-image: url("about.jpg");
    background-size: cover;
    place-content:start left;
}
#block2 p{
    margin: 10px;
    padding: 10px;
    background-color: black;
    text-align: left;
    font-weight: bold;
    font-size: 16pt;
    width: 50%;
    color: rgb(255, 255, 255);
}
#block3{
    background-image: url("bukem.jpg");
    background-size: cover;
    place-content:end right;
}
#block3 p{
    margin: 10px;
    padding: 10px;
    background-color: black;
    text-align: right;
    font-weight: bold;
    font-size: 16pt;
    width: 50%;
    color: rgb(255, 255, 255);
}
#block4 {
    background-image: url("mabu-vinyl.jpg");
    background-size: cover;
    filter: grayscale(1);
    place-content:start right;
}
#block4 p {
    margin: 10px;
    padding: 10px;
    background-color: black;
    text-align: right;
    font-weight: bold;
    font-size: 32pt;
    width: 50%;
    color: rgb(255, 255, 255);
}
#block5 {
    background-image: url("R-1467-1355760192-3619.jpg");
    background-size: cover;
    place-content:start left;
}
#block5 p {
    margin: 10px;
    padding: 10px;
    background-color: black;
    text-align: left;
    font-weight: bold;
    font-size: 32pt;
    width: 50%;
    color: rgb(255, 255, 255);
}
#block6 {
    background-image: url("snimok.PNG");
    background-size: cover;
    place-content:end left;
}
#block6 p {
    margin: 10px;
    padding: 10px;
    background-color: black;
    text-align: left;
    font-weight: bold;
    font-size: 32pt;
    width: 50%;
    color: rgb(255, 255, 255);
}


